﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="row" ng-controller="dashboardController">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hasta Arama</h5>
                <hr />

                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Ad Soayd :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="customerSearchModel.FullName">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">TC. No :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="customerSearchModel.IdentityNumber">
                    </div>
                </div>
                <button type="button" ng-click="customerSearch()" class="btn btn-outline-dark float-end mb-3">Getir</button>

                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th>Ad Soyad</th>
                            <th>T.C. No</th>
                            <th>Telefon</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in customerList" ng-show="customerList!=null">
                            <td> <span class="badge bg-dark" ng-click="customerSelect($index)">+</span> {{customer.fullName}}</td>
                            <td>{{customer.identityNumber}}</td>
                            <td>{{customer.phoneNumber}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Hasta Bilgileri</h5>
                <hr />
                <a href="#" class="link-dark float-end" ng-click="customerUpdate()">Hasta Bilgilerini Güncelle</a>
                <br /><br />
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">TC. No :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="customerInfo.identityNumber">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Ad Soyad :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="customerInfo.fullName">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 form-check-label">Cinsiyet :</label>
                    <div class="col-sm-9">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" ng-model="customerInfo.gender" value="1">
                            <label class="form-check-label" for="inlineRadio1">Erkek</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" ng-model="customerInfo.gender" value="0">
                            <label class="form-check-label" for="inlineRadio2">Kadın</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Email :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="customerInfo.email">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Telefon :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="customerInfo.phoneNumber">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">D. Tarih :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="customerInfo.birthDate">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Adres :</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control" ng-model="customerInfo.address"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Randevu / Seans Bilgileri</h5>
                <hr />
                <a href="#" class="link-dark float-end">Yeni Randevu</a><br />
                <a href="#" class="link-dark bold"><strong>Son Randevu Bilgileri</strong></a>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Uzman :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Seans :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <a href="#" class="link-dark float-end">Randevu İptal Et</a><br />
                <a href="#" class="link-dark bold"><strong>Son Seans Bilgileri</strong></a>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Uzman :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Seans :</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-3 col-form-label">Not :</label>
                    <div class="col-sm-9">
                        <textarea type="text" class="form-control"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>
    app.controller('dashboardController',function($scope, $http){

        $scope.customerSearchModel = {
            FullName:'',
            IdentityNumber:''
        };

        $scope.customerSearch = function() {

            console.log($scope.customerSearchModel);

             $http({
                    method: "POST",
                    url: "/customer/CustomerListQuery",
                    data: $scope.customerSearchModel
                })
                .then(function mySuccess(response) {
                    $scope.customerList=response.data.data;
                }, function myError(response) {
                    console.error(response.statusText);
                });
        }

        $scope.customerSelect = function(index) {
            $scope.customerInfo = $scope.customerList[0];

        }

        $scope.customerUpdate = function(){
            console.log($scope.customerInfo);
        }

    });
</script>
}