﻿@model EmployeeAuthorizeDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @@media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        html,
        body {
            height: 100%;
        }

        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #f5f5f5;
        }

        .form-signin {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }

            .form-signin .checkbox {
                font-weight: 400;
            }

            .form-signin .form-floating:focus-within {
                z-index: 2;
            }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
    </style>
</head>
<body class="text-center">
    <main class="form-signin">
        <form id="login-form" action="/auth/index" method="post" enctype="multipart/form-data">
            <h1 class="h3 mb-3 fw-normal">Personel Giriş</h1>
            <div class="form-floating">
                <input type="text" asp-for="@Model.Email" class="form-control" placeholder="Email Adresi">
                <label asp-for="@Model.Email">Email Adresi</label>
            </div>
            <div class="form-floating">
                <input type="password" asp-for="@Model.Password" class="form-control" placeholder="Parola">
                <label asp-for="@Model.Password">Parola</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary login-btn" type="button">Giriş Yap</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
        </form>
    </main>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script>
    $('.login-btn').click(function(){
        $('#login-form').validate({
            rules: {
                Email: {
                    required: true,
                    email: true,
                },
                Password: {
                    required: true,
                },
            },
            messages: {
                Email: {
                    required: "Lütfen Email giriniz!",
                    email:"Lütfen geçerli email giriniz!"
                },
                Password: {
                    required: "Lütfen Parola giriniz!",
                },
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
              error.addClass('invalid-feedback');
              element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
              $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
              $(element).removeClass('is-invalid');
            }
        });

        let validator = $('#login-form').validate();
        if (!$('#login-form').valid()) {
            var element = $(validator.errorList[0].element);
            element.focus();
            $('html,body').animate({ scrollTop: element.offset().top - 200 }, 500);
            return false;
        }
        else {
            $('#login-form').submit();
        }
    });
</script>
</html>
